In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
mpl.style.use('ggplot')

In [2]:
from google.colab import drive
drive.mount('../content/drive')

Mounted at ../content/drive

In [3]:
car=pd.read_csv('../content/drive/MyDrive/Colab Notebooks/quikr_car.csv')

In [4]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [5]:
car.shape

(892, 6)

In [6]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

##### Creating backup copy

In [7]:
backup=car.copy()

# Problems with the dataset
# 1.Year has many non valid inputs
# 2.Year datatype is not int
# 3.Price have some anomaly
# 4.Price is also not in int
# 5. kms driven has kms with int
# 6.kms driven to int
# 7.kms has nan values
# 8.fuel type has nan values
# 9.Name has many words keeping it to 3 words only


# NOTE-- ALL THIS PROBLEMS WE FOUND USING .unique() on all the features.

# Cleaning and removing the problems

In [8]:
car=car[car['year'].str.isnumeric()]

In [9]:
car['year']=car['year'].astype(int)

In [10]:
car=car[car['Price']!='Ask For Price']

In [11]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [12]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [13]:
car=car[~car['kms_driven'].isna()]

In [14]:
car=car[car['kms_driven'].str.isnumeric()]

In [15]:
car['kms_driven']=car['kms_driven'].astype(int)

In [16]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [17]:
car=car[~car['fuel_type'].isna()]

In [18]:
car.shape

(816, 6)

In [19]:
car['name']=car['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

The below code for resetting the index

In [20]:
car=car.reset_index(drop=True)

In [21]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [22]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 38.4+ KB

In [ ]:
car.describe(include='all')

,name,company,year,Price,kms_driven,fuel_type
count,815,815,815.000000,8.150000e+02,815.000000,815
unique,254,25,NaN,NaN,NaN,3
top,Maruti Suzuki Swift,Maruti,NaN,NaN,NaN,Petrol
freq,51,221,NaN,NaN,NaN,428
mean,NaN,NaN,2012.442945,4.017933e+05,46277.096933,NaN
std,NaN,NaN,4.005079,3.815888e+05,34318.459638,NaN
min,NaN,NaN,1995.000000,3.000000e+04,0.000000,NaN
25%,NaN,NaN,2010.000000,1.750000e+05,27000.000000,NaN
50%,NaN,NaN,2013.000000,2.999990e+05,41000.000000,NaN
75%,NaN,NaN,2015.000000,4.900000e+05,56879.000000,NaN
max,NaN,NaN,2019.000000,3.100000e+06,400000.000000,NaN

In [23]:
car=car[car['Price']<6000000]

In [24]:
car.to_csv('Cleaned_Car_data.csv')

In [25]:
car['company'].unique()

array(['Hyundai', 'Mahindra', 'Ford', 'Maruti', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'], dtype=object)

In [26]:
X=car.drop(columns='Price')
y=car['Price']

In [65]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=661)

In [66]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder

In [67]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [68]:
X_train

                     name   company  year  kms_driven fuel_type
104  Maruti Suzuki Ertiga    Maruti  2013       42000    Diesel
433     Hyundai Elite i20   Hyundai  2015       28000    Petrol
803     Hyundai Elite i20   Hyundai  2018        2100    Petrol
667     Maruti Suzuki Zen    Maruti  2004      100000    Petrol
615       Hyundai Eon Era   Hyundai  2013       39700    Petrol
..                    ...       ...   ...         ...       ...
451            Honda City     Honda  2015       55000    Petrol
79     Mahindra Quanto C8  Mahindra  2013       20000    Diesel
697      Mahindra Xylo D2  Mahindra  2011       56000    Diesel
786   Maruti Suzuki Wagon    Maruti  2006        7000    Petrol
476   Maruti Suzuki Wagon    Maruti  2014       18500    Petrol

[652 rows x 5 columns]

In [69]:
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

In [70]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [72]:
lr=LinearRegression()

In [73]:
pipe=make_pipeline(column_trans,lr)

In [74]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [75]:
y_pred=pipe.predict(X_test)
y_pred

array([ 698006.62976822,  601640.30957218,  278849.10710145,
        566314.37222575,  500852.17640119,  582368.39477165,
        439104.26207224,  173685.46809356,  563250.77265928,
        282606.86076792,  230255.91159508,  208491.77060503,
        250411.98974191,  480868.15797976,   58028.1902303 ,
        285672.00138501,  233799.5821403 ,  336303.54334135,
       1890202.82033875,  561639.17340099,  317072.75799479,
        319604.61635345,  309797.76803183,   27808.59940609,
       1607401.02533904,  528592.30383985,  251079.49498615,
        112642.07280677,  344869.12274316,  532397.39021023,
        260131.19801032, 1559212.02803494, 1747007.43408816,
        308386.49974981,  508863.32779663,  498863.7985049 ,
        199873.46411946,  225920.40027432,  527338.00809793,
        566438.12462266,  491896.2631383 ,  425403.82733753,
        112642.07280677,  826416.07266131,  158840.22453777,
        246658.48453967,  480674.02468749,  499952.37027238,
        306243.93214708,  158166.09378496,  489632.32256944,
        270004.94967513,  409786.31756024,  473884.08787932,
        297082.84711722,  173685.46809356,  142543.83684636,
        826416.07266131,  248786.47602752,  513301.07541244,
        291664.64774561,  603038.98230822,  212452.97339062,
         29659.3707976 ,  340810.82508452,  291490.03009929,
        409361.06161028,  222223.57317083,  225920.40027432,
        285672.00138501,  259859.78560024,  288828.2904073 ,
        583269.86510292,  265847.7861388 ,  330316.90768745,
        589772.80383024,  284926.67363309,  223314.05421378,
        115953.63398237,  222430.00717731,  458232.37179989,
        233231.56549478,  436629.34792107,  270276.2592954 ,
        769414.35674168,  585214.71459081,  235426.2894932 ,
        304166.67823862,  359299.36339998, 1451163.51265854,
        424374.9435244 ,  395737.19312354,  116753.89730079,
        171373.96044274,  245483.95286625,   42902.6793502 ,
        242711.59343754,  629256.99339245,  597716.17454214,
        161534.06892209,  214792.5693742 ,  234908.00744007,
        209717.03985784,  365088.15497067,  826416.07266131,
        686355.6868118 ,  137068.3005447 ,  583201.7722469 ,
        369043.14852   ,  457443.81791966,  383540.48648511,
        530728.02858335,  603988.92249693,  524056.62037319,
        424852.64447382,  351378.49009666,  236285.93292028,
        611197.84626025,  222663.32583591,  210481.50528114,
        989685.73408791,  293272.87171212,   39257.39139177,
        501456.05910437,  731871.93920314,  585367.858652  ,
        356531.00892939,  447038.86922179,  149708.06050563,
        229196.39449261, 1890202.82033875,  173685.46809356,
        176497.52969185,   45314.24251594,  514995.28948391,
        580986.40426908,  229089.73758889,  154259.14810674,
        550275.2892851 ,  261266.39458614,  198887.49237733,
        158166.09378496,  520135.84028193,  531228.29153281,
        869813.22892039,   81996.31058628,  551182.91949148,
        229293.2000393 ,  199873.46411946,  309029.41653755,
        104956.5238052 ,  524056.62037319,  249398.55199725,
        601640.30957218,  129187.19829328, 1890202.82033875,
        104869.00457286, 1364321.63033694,  277034.71228555,
        449795.71392981,  197221.33701629,  425403.82733753,
        289178.36733668])

In [76]:
r2_score(y_test,y_pred)

0.889770931767991

In [77]:
import pickle

In [78]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [79]:
from google.colab import files
files.download('LinearRegressionModel.pkl')

In [80]:
pipe.predict(pd.DataFrame(columns=['name','company','year','kms_driven','fuel_type'],data=np.array(['Audi A4 2.0','Audi',2012,40000,'Petrol']).reshape(1,5)))

array([1573426.2563571])

In [81]:
# pipe.steps[0][1].transformers[0][1].categories[0]